/venv
/db.sqlite3
./venv
.env
db.sqlite3
/.env
/client_secret_822838935319-rdgl3ogao95n9o1i3alb1l8e7gdnhd0u.apps.googleusercontent.com.json
client_secret_822838935319-rdgl3ogao95n9o1i3alb1l8e7gdnhd0u.apps.googleusercontent.com.json