# SECURITY
SECRET_KEY=  # required

# EMAIL CONFIGURATION
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=  # e.g., smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=  # required
EMAIL_HOST_PASSWORD=  # required

# DJANGO SETTINGS
DEBUG=False
AUTH_USER_MODEL=accounts.User
TIMEZONE=UTC
USE_TZ=True

# DATABASE POSTGRESQL
DB_NAME=#required
DB_USER=#required
DB_PASSWORD=#required
DB_HOST=#required
DB_PORT=#required

# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# GOOGLE OAUTH2
GOOGLE_CLIENT_ID=# required for oauth2
GOOGLE_CLIENT_SECRET=#required for oauth2
GOOGLE_REDIRECT_URI=  # e.g., http://your-domain.com/accounts/login/google/callback
GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_USER_INFO_URL=https://www.googleapis.com/oauth2/v3/userinfo
