{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="new-password">New password</label>
            <input type="password" required name="password" id="new-password">

            <label for="confirm-password">Confirm password</label>
            <input type="password" required name="re-password" id="confirm-password">

            {% for message in messages %}
                <p style="color: red; font-size: 13px;">{{ message }}</p>
            {% endfor %}
        </div>

        <button type="submit">Change Password</button>
    </form>
{% endblock %}