{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <div class="auth-container">
        <h1>Register</h1>
        <form id="register-form" action="{% url 'accounts:register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>

            <button type="submit">Register</button>
        </form>
        <button><a href="{% url 'accounts:google_login' %}">Continue with google</a></button>
    </div>
{% endblock %}